{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="row"><!--details section start-->
    {% if msg %}
        <div class="alert alert-success">
          {{msg}}
        </div>
    {% endif %} 
    <div class="col-md-9 mt-5 mx-auto">
        {% for x in data %}
        <div class="row">
            <div class="col-md-5">
                <div class="card" >
                    <img src="{{x.pimage.url}}" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    
                    <h1 class="card-title">{{x.name}}</h1> <br>
                    {% if x.cat == 1 %}
                        <h5 class="card-title">Mobile</h5> <br>
                    {% elif x.cat == 2 %}
                        <h5 class="card-title">Shoes</h5>
                    {% else %}
                        <h5 class="card-title">Cloths</h5>

                    {% endif %}
                    <h5 class="card-title">₹{{x.price}}</h5>
                    <h5 class="card-title">{{x.pdetails}}</h5>
                    
                    
                    
                </div>
            </div>

        </div>
        {% endfor %}

    </div>
</div><!--details section end-->

{% endblock 'main' %}